<div class="col-md-12"
	 style="border-style: solid;
	 		border-color: aliceblue;
	 		border-width: 1px;
	 		padding: 5px;
	 		background-color: aliceblue;
	 		margin-top: 5px;">

  <h4><strong> <%= comment.commenter %> </strong></h4>
  <p border=1>
    <%= comment.body %>
	  <% if (can? :destroy, @article) ||
		  (can? :destroy, comment) %>
		  <span style="color: red; float: right;">
		  	<%= link_to 'X', [comment.article, comment],
	  								 method: :delete,
	  								 data: { confirm: 'Are you sure?' },
	  								 :style=>"color: red;" %>
	  	</span>
	  <% end %>
  </p>
</div>
