<% if notice %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= fa_icon "check", :style=>"float:left;padding-top:3px;" %>
    <p class="notice" style="margin-left:25px;"><%= notice %></p>

  </div>
<% elsif alert  %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= fa_icon "close", :style=>"float:left;padding-top:3px;" %>
    <p class="alert" style="margin-left:25px;"><%= alert %></p>
  </div>
<% end %>
